[Unit]
Description=Adjust MD1200/MD1220 fan speeds
After=multi-user.target
# Place in /etc/systemd/system/
 
[Service]
User=yuru
Group=yuru
Type=simple
Restart=on-failure
# EnvironmentFile=/etc/NetFlux/netflow.env
# User=myuser
WorkingDirectory=/etc/MD1200FAN/
ExecStart=/etc/MD1200FAN/venv/bin/python3 /etc/MD1200FAN/main.py --serve-in-foreground
#StandardInput=tty-force

# Log file will be create if it doesn't exist
StandardOutput=append:/var/log/MD1200FAN.py.log
StandardError=append:/var/log/MD1200FAN.py.errlog

# StandardOutput=syslog
# StandardError=syslog
# SyslogIdentifier=NetFlowInflux
 
[Install]
WantedBy=multi-user.target
